apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: api-gateway
  labels:
    stage: app
spec:
  selector:
    app: api-gateway
  ports:
    - name: client
      port: 8081
      targetPort: 8081
  type: ClusterIP