apiVersion: 1

datasources:
  - name: Posts Database
    type: postgres
    url: posts-db:5432
    user: postgres
    secureJsonData:
      password: secret
    jsonData:
      database: social_posts
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      timescaledb: false
  
  - name: Users Database
    type: postgres
    url: users-db:5432
    user: postgres
    secureJsonData:
      password: secret
    jsonData:
      database: social_users
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      timescaledb: false

  - name: Chat Database
    type: postgres
    url: chat-db:5432
    user: postgres
    secureJsonData:
      password: secret
    jsonData:
      database: social_chat
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      timescaledb: false

  - name: Notifications Database
    type: postgres
    url: notifications-db:5432
    user: postgres
    secureJsonData:
      password: secret
    jsonData:
      database: social_notifications
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      timescaledb: false

  - name: Media Database
    type: postgres
    url: media-db:5432
    user: postgres
    secureJsonData:
      password: secret
    jsonData:
      database: social_media
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      timescaledb: false


  - name: Redis
    type: redis-datasource
    access: proxy
    orgId: 1
    version: 1
    url: redis:6379
    jsonData:
      poolSize: 5
      timeout: 10
      pingInterval: 0
      pipelineWindow: 0
    editable: true


  - name: VictoriaLogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victoria-logs:9428
    jsonData:
      # Optional multitenancy settings
      # multitenancyHeaders:
      #   AccountID: 0
      #   ProjectID: 0

  - name: VictoriaTraces
    type: jaeger
    access: proxy
    url: http://victoria-traces:10428/select/jaeger
    jsonData:
      # Optional multitenancy settings
      # multitenancyHeaders:
      #   AccountID: 0
      #   ProjectID: 0