apiVersion: v1
kind: Service
metadata:
  name: notifications
  namespace: notifications
  labels:
    stage: app
spec:
  selector:
    app: notifications
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
