apiVersion: v1
kind: Service
metadata:
  name: nats
  namespace: messaging
  labels:
    stage: app
spec:
  clusterIP: None
  selector:
    app: nats
  ports:
    - name: client
      port: 4222
    - name: cluster
      port: 6222
