apiVersion: v1
kind: Service
metadata:
  name: nats-client
  namespace: messaging
  labels:
    stage: app
spec:
  selector:
    app: nats
  ports:
    - name: client
      port: 4222
      targetPort: 4222
