apiVersion: v1
kind: Service
metadata:
  name: users
  namespace: users
  labels:
    stage: app
spec:
  selector:
    app: users
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
