apiVersion: v1
kind: Service
metadata:
  name: posts
  namespace: posts
  labels:
    stage: app
spec:
  selector:
    app: posts
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
