apiVersion: apps/v1
kind: Deployment
metadata:
  name: alloy
  namespace: monitoring
  labels:
    stage: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alloy
  template:
    metadata:
      labels:
        app: alloy
    spec:
      containers:
        - name: alloy
          image: grafana/alloy:latest
          args:
            - "run"
            - "--server.http.listen-addr=0.0.0.0:12345"
            - "--storage.path=/var/lib/alloy/data"
            - "/etc/alloy/config.alloy"
          ports:
            - containerPort: 4317   # OTLP gRPC
            - containerPort: 4318   # OTLP HTTP
            - containerPort: 12345  # web API
          volumeMounts:
            - name: alloy-config
              mountPath: /etc/alloy/config.alloy
              subPath: config.alloy
            - name: alloy-data
              mountPath: /var/lib/alloy/data
      volumes:
        - name: alloy-config
          configMap:
            name: alloy-config
        - name: alloy-data
          persistentVolumeClaim:
            claimName: alloy-data-pvc