apiVersion: v1
kind: Service
metadata:
  name: alloy
  namespace: monitoring
  labels:
    stage: monitoring
spec:
  selector:
    app: alloy
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
    - name: http-api
      port: 12345
      targetPort: 12345
  type: ClusterIP