apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
  labels:
    stage: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          ports:
            - containerPort: 3001
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: POSTS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: posts-db-app
                  key: password

            - name: USERS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: users-db-app
                  key: password

            - name: CHAT_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: chat-db-app
                  key: password

            - name: NOTIFICATIONS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: notifications-db-app
                  key: password

            - name: MEDIA_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: media-db-app
                  key: password

            - name: GF_INSTALL_PLUGINS
              value: redis-datasource,victoriametrics-logs-datasource,hamedkarbasi93-kafka-datasource

            - name: GF_SECURITY_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: grafana-admin
                  key: username

            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grafana-admin
                  key: password
                  
          volumeMounts:
            - name: grafana-config
              mountPath: /etc/grafana/grafana.ini
              subPath: grafana.ini
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
              subPath: datasources.yaml
            - name: grafana-storage
              mountPath: /var/lib/grafana
      volumes:
        - name: grafana-config
          configMap:
            name: grafana-config
        - name: grafana-datasources
          configMap:
            name: grafana-datasources
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-storage-pvc