apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
  labels:
    stage: monitoring
spec:
  selector:
    app: grafana
  ports:
    - port: 3001
      targetPort: 3001
  type: ClusterIP