apiVersion: v1
kind: Service
metadata:
  name: chat
  namespace: chat
  labels:
    stage: app
spec:
  selector:
    app: chat
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
